/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.page{
}
.container{
    padding: 10;
}
.radlistview-child{
    width: 95%;
    border-width: 1;
    border-color: gray;
    border-radius: 10;
}
.image-gallery{
    margin: 10 20;
    border-width: 1;
    border-color: gray;
    border-radius: 10;
}
.countryName {
    color: #33393d;
    font-family: 'Open Sans', 'OpenSans-Bold';
    font-weight: bold;
}

.countryPop {
    color: darkgray;
    font-family: 'Open Sans', 'OpenSans-Regular';
    font-size: 12;
}